body{
	background-image: url("copen.jpg");
	background-size: 1300px;
}

#wrapper{
	border: solid 1px #000099;
	margin: 0 auto;
	width:1020px;
}

h1 {
	text-align: center;
	font-family: "Candara";
	color: #3333ff;
}

#sidebar{
	float: left;
	width:300px;
}

#main-content{
	font-family: "Candara";
	float:left;
	width:500px;
	color: white;
	font-weight:bold;
}

h2 {
	font-family: "Candara";
	color: white;
}